/* common shared styles */
body{
    font-family: 'Work Sans', sans-serif;
}

.nav-container{
    background:hsla(0, 0%, 100%, 1);
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.nav-container span{
    color: #ff42ff;
}

.logo-container{
    gap: 20px;
    display: flex;
    margin-left: 200px;
    width: 50%;
}
.logo-container img{
    width: 80px;
    height: 40px;
    margin-top: 50px;
    margin-left: 50px;
}
.logo-container p{
    display: flex;
    font-weight: 700;
    font-size: 45px;
}
.nav-items-container{
    color: #3C354F;
font-size: 18px;
font-weight: 500;
    width: 26%;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-items-container a{
    text-decoration: none;
}

.login-btn{
    width: 250px;
    height: 50px;
    border-radius: 8px;
    background: #0b02231a;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
}

.btn-primary{
    border: none;
    color: #FFF;;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    margin-left: 200px;
}

.banner-container{
   justify-content: space-between;
    margin: 50px auto 0;
    align-items: center;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.banner-text h1{
   background-image: linear-gradient(to bottom,#9376e0,#e893cf);
   color: transparent;
   -webkit-background-clip: text;
   font-size: 50px;
   margin-left: 200px;
}
.play{
    margin-left: 200px;
    font-size: 45px;
    font-weight: 600;
}
.banner-text p{
    margin-left: 200px;
}
.banner-img{
   width: 500px;
}
.new-container{
   width: 80%;
    margin-left: 140px;
    margin-bottom: -400px;
    
    text-align: right;
    }
    .new-container h3{
        font-size: 48px;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
    }
    .new-container p{
        color:hsla(258, 14%, 35%, 1);
        font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 

    }
.new-container-img{
    position: relative;
    bottom: 400px;
    display: flex;
    margin-left: 100px;
}
.online{
    text-align: center;

}
.online h3{
    font-size: 48px;
    font-weight: 700;
}
.online span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.online-games-container{
    display: flex;
    gap: 24px;
    
 
}

.instant{
   margin-left: 400px;
   display: flex;
   padding-top: 200px;
   margin-bottom: -500px;
   
}
.text{
    align-items: center;
   
}
.instant .img-one {
    width: 634.833px;
    height: 650px;
    display: flex;
    position: relative;
    left: 500px;
    bottom: 350px;
}
.instant .img-two{
    width: 318.5px;
    height: 365.083px;
    position: relative;
    bottom: 600px;
    left: 350px;
}
.Careers-container{
    
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    width: 1880px;
    height: 600px;

}
.Careers-container h2{
    margin-left: 200px;
    position: relative;
    top: 100px;
    color: #FFF;
    font-size: 48px;;
    font-weight: 700;
    line-height: 60px;
}
.Careers-container p{
    margin-left: 200px;
    position: relative;
    top: 100px;
    color: #FFF;
}

.space{
    
    
}
.child-play{
    width: 800px;
    display: flex;
    position: relative;
    left: 900px;
    bottom: 450px;
}
.Careers-container .lisbon{
       margin-left: 500px;
       position: relative;
       top: -25px;
       color: #FFF;
}
.Careers-container button{
    margin-left: 200px;
    border-radius: 45px;
    border: none;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}
.logo-contain{
    display: flex;
    align-items: center;
}



<!---last section container------>



.last-section-container{
    text-align: center;
    border: 1px solid antiquewhite;
    min-height: 400px;
    background: #0B0223;
}
.last-section-contain{
    border: 1px solid seashell;
    display: flex;
    gap: 20px;

}
.last-section-contain img{
    border: 1px solid sandybrown;
    
    width: 100px;
    height: 50px;
    margin-left: 750px;
    margin-top: 50px;
    object-fit: cover;

    }
.last-section-contain p{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.last-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 1px solid seagreen;
    margin-left: 400px;
    color: #FFF;
    
    font-size: 18px;
    font-weight: 600;
    
    
}
.last-section a{
    text-decoration: none;
}